S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin12345
CLICKHOUSE_USER=analytics
CLICKHOUSE_PASSWORD=analytics123
SUPERSET_SECRET_KEY=dev-superset-secret-key
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=nyc_taxi
